/* Flexbox */
.flex-container{
     width: 900px;
     height:600px;
     border: 1px solid black;
     display: flex;
     flex-direction: row;
     /* flex-direction: column-reverse; */
    
     justify-content:center;
     align-items: end;
     align-content: end;

     flex-wrap: wrap;
}


.flex-item{
     width: 150px;
     height: 200px; 
     border: 1px solid black;
}

#flex-fifth{
    height: 150px;
    align-self: first baseline; 
}