
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.vernav{
    display:flex;
    flex-direction:column;
    justify-content:space-between; 
    background-color:cadetblue;  
    width:15vw;
    height:100vh;   
}
ul{
    
    list-style: none;
    
}
li a{
    text-decoration:none;
    color:darkgray;
    font-weight:bold;
    font-size: 22px;;
    padding:4px 12px;
    display:block;
}
li a:hover{
    background-color:rgb(177, 204, 195);
    color:black;
}
svg{
    width:18px;
    height:18px;
}