@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */
body{
    background-color:rgb(177, 204, 195) ;
    padding-top: 7vh;s
}

form {
    display:flex;
    justify-content:space-between;

}
button{
    background-color: rgb(116, 161, 47);
    border:1 px solid rgb(116, 161, 47);
    border-radius:4px;
    color: black;
    padding:8px;
    
}
.name{
    Display:flex;
    justify-content:space-between;
}
.box li{
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    list-style: none;
    margin:12px;
    padding:10px 12px;
}
.box1{

        display:flex;
        justify-content: space-between;
}
.box2{

        display:flex;
        justify-content: space-between;
}
.box3{

        display:flex;
        justify-content: space-between;
}
.box4{

        display:flex;
        justify-content: space-between;
}
.box5{

        display:flex;
        justify-content: space-between;
}