@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins',sans-serif;
}
.navbar{
    display:flex;
    justify-content:space-around;
    width:100vw;
    height:10vh;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    background-color:whitesmoke;
}
.links{
    display:flex;
    list-style:none;
    gap:50px;
}
a{
    text-decoration: none;
    color:black;

}
a:hover{
    color:rgb(135, 97, 170);
    font-weight: bold;
}
.logo{
    font-size:60px;
    font-weight:bold;
    /* text-shadow: 1px 1px 2px gray; */
    color:rgb(135, 97, 170);

}
.main-container{
    position:relative;
    top:20vh;
    display:flex;
    display:100vw;
    z-index:-1;

}
.image{
    width:400px;
    height:400px;
    border-radius:50%;
    border:5px solid rgb(223, 184, 223);
    margin:50px;
    background-image: url("../image/mypic.jfif");
    background-size: cover;
    background-position: center;
    background-color:rgb(152, 116, 185);
    position:fixed;
}
.content{
    width:40%;
    position:relative;  /*relative garea parent ko reference vayo absolute gareko vaye root ko reference */
    left:40%;
    padding-top:85px;
}
h1{
    color:rgb(135, 97, 170);
}
section{
    padding: 50px 0px;
}